*{
    font-family:'playfair Display',serif;
}
.bg-music{
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.btn{
    background-color: transparent;
    color: #fff;
    font-size: 78px;
    border: none;
    display: block;
    margin: 0 auto;
    opacity: .3;
    transition: all linear .2s;
}
.btn:hover{
    opacity: 1;
}
.fa-pause-circle-o{
    display: none;
}
